* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial;
    background: #0085f7;
    color: #ffffff;
}

.intro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.choose-language {
    font-size: 2em;
    font-weight: bold;
    display: block;
    padding-bottom: 100px;
}

.language-selection {
    display: flex;
    align-items: center;
    flex: 1;
    width: 250px;
    height: 250px;
    text-align: center;
    border-radius: 50%;
    background: #ffffff;
    margin: 10px;
}

.row {
    display: flex;
}

.hackday-assess {
    display: none;
}

.lrn-assess {
    margin: 0 !important;
    background: transparent !important;
}

.app-layout {
    width: 100% !important;
}

.card-container {
    width: 50%;
    min-width: 500px;
    height: 300px;
    position: relative;
    perspective: 800px;
    border-radius: 4px;
    margin: auto;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 6px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
    cursor: pointer;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 6px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #47525d;
    font-size: 3em;
}

.card .back {
    transform: rotateY(180deg);
}

.card.flipped {
    transform: rotateY(180deg);
}

.card .front .response {
    display: block;
    width: 5em;
}

.card .face-content {
    text-align: center;
}

.card input {
    text-align: center;
    margin: 10px !important;
}

.card input:not(:focus) {
    border: none !important;
    border-bottom: 4px solid #cccccc !important;
}

.card input:focus {
    border: none !important;
    border-bottom: 4px solid #0055aa !important;
}

